body {
	background-color: #3f444e;
	color: #3f444e;
	font-family: 'Adobe Gothic Std';
  font-size: 15px;
  text-align: left;
}

h1 {
  font-size: 18px;
  text-transform: uppercase;
}

h2 {
  font-size: 17px;
  text-transform: uppercase;
}

a {
	text-decoration: none;
  color: #3f444e;
}

.clear {
	clear: both;
}

.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 1194px;
}

header {
  height: 76px;
  background-color:  #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

header nav {
	float: right;
}

header nav ul li {
	float: left;
	display: inline-block;
}


.main-image-header{
	display: block;
  position: absolute;
  top: 50%;
  right: 15%;
}

.main-image-title {
	background: url('../images/move text.png') no-repeat center;
  width: 326px;
  height: 154px;
}

.button-1 {
	display: block;
	text-align: center;
	background: #d8232a;
	border-radius: 3px;
	color: #ffffff;
  width: 118px;
  height: 38px;
	font-size: 14px;
  line-height: 38px;
	margin: 0 auto;
  text-transform: uppercase;
}

.button-1 span{
  vertical-align: middle;
}

.button-1:hover {
	color: #fff;
}

