@font-face {
font-family: Adobe Gothic Std;
src: url("../fonts/AdobeGothicStd-Bold.otf") format("opentype");
}

body {
	background-color: #3f444e;
	color: #3f444e;
	font-family: 'Adobe Gothic Std';
  font-size: 15px;
  text-align: left;
}

h1 {
  font-size: 18px;
  text-transform: uppercase;
}

h2 {
  font-size: 17px;
  text-transform: uppercase;
}

a {
	text-decoration: none;
  color: #3f444e;
}

.wrapper {
	margin: 0 auto;
	width: 1194px;
}

.section-wrapper {
	padding: 30px 30px 30px 30px;
}

header .wrapper{
  background-color:  #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height:76px;
}

#featured-movies .wrapper{
  background-color:  #ffffff;
  height:1000px;
}


.col-1{
  width: calc(100% / 12);
  float: left;
}

.col-2{
  width: calc(100% / 6);
  float: left;
}

.col-3{
  width: calc(100% / 3);
  float: left;
}

.col-5{
  width: calc(100% * 5 / 12);
  float: left;
}

.comics1{
  background: url('../images/comics1.png') no-repeat center;
}

.game{
  background: url('../images/game.png') no-repeat center;
}

.more1{
  background: url('../images/more1.png') no-repeat center;
}

.edit-profile{
  background: url('../images/edit-profile.png') no-repeat center;
}

nav li a{  
  width:20px;
  padding: 0px 20px 0 20px;
}

nav .user{
  float:right;
}

nav ul.user li>*{  
  padding: 0px 10px 0 10px;
}


header nav {
	
}

header nav ul li {
	float: left;
	display: inline-block;
}


.main-image-header{
	display: block;
  position: absolute;
  top: 270px;
  right: 200px;
}

.main-image-title {
	background: url('../images/guardians.png') no-repeat center;
  width: 326px;
  height: 154px;
}

.button-1 {
	display: block;
	text-align: center;
	background: #d8232a;
	border-radius: 3px;
	color: #ffffff;
  width: 118px;
  height: 38px;
	font-size: 14px;
  line-height: 38px;
	margin: 0 auto;
  text-transform: uppercase;
}

.button-1 span{
  vertical-align: middle;
}

.button-1:hover {
	color: #fff;
}

